body {
    font-family: 'Times New Roman', Times, serif;
}

.titulo-secao {
    font-family: 24px;
    background-color: rgb(255, 255, 255);
}

#texto-copyright {
    font-size: 14px;
    color: gray;
    text-align: center;
}

section.formacao > p {
    text-transform: uppercase;
}

section.experiencias-profissionais > .descricao-cargo {
    color: green;
}

section.contato a {
    text-decoration: none;
}