* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: royalblue;
    padding: 6px;
}

nav.menu li {
    display: inline-block;
    margin: 18px 24px;

    list-style-type: none;
    list-style-position: outside;
}

nav.menu li > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    text-align: center;
    padding: 18px;
}

section {
    text-align: center; 
    padding: 48px; 
}

img {
    width: 400px;
}

h2 {
    font-size: 48px;
    margin: 12px 0px;
}

button {
    background-color: royalblue;
    color: white;
    padding: 18px 48px;
    border-radius: 60px;
    border: 1px solid royalblue;
    font-size: 16px;
    margin-top: 24px;
}

hr {
    border: 0.5px solid lightgray;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td, #planos table {
    border: 1px solid lightgray;
    padding: 12px;
}

thead th {
    text-align: center;
}

tbody th {
    text-align: left;
}

td {
    text-align: center;
}

footer {
    padding: 36px;
}

footer > p {
    font-size: 14px;
    text-align: center;
    color: gray;
}